@import "https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap";

body {
  font-family: 'Comic Neue', cursive;
  background-color: #D4CDAB95;
}

.books {
  display: flex;
  flex-wrap: wrap;
}

.book {
  border: 1px dotted rgb(37, 32, 109);
  width: 12rem;
  margin: 0.5rem;
  padding: 0.8rem;
}

.book img {
  width: 8rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.book__title, .book__author {
  margin-left: auto;
  margin-right: auto;
  width: 8em;
}

